.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build

# Other Eclipse IDE files
.project
.pydev*

# Ignore compiled python
*.pyc
.pip

# Don't checking Android Studio IDE files
*.idea
*.iml

